<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoboCoop.Properties.Settings.RobotsDBConnectionString"
            connectionString="Data Source=DESKTOP-EAUOJDP\SQLEXPRESS;Initial Catalog=RobotsDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="RoboCoop.Properties.Settings.RobotDB6ConnectionString"
            connectionString="Data Source=DESKTOP-7J9ODH9;Initial Catalog=RobotDB6;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>